.loader {
    background-color: #d41c1c;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
    position: fixed;
    z-index: 1000;
}

@import './abstract/variables';
@import './abstract/mixins';

@import './layout/nav';
@import './layout/header';

@import './components/buttons';
@import './components/footer';

@import './base/typography';

@import './pages/home';
@import './pages/books';