@mixin afterdash {
    content: "";
    height: 2px;
    width: 6.4rem;
    background-color: $color-primary;
    display: block;
}

@mixin btnbasic {
    display: block;
    font-size: 1.6rem;
    padding: 1.2rem;
    font-weight: 500;

    @media only screen and (min-width: 540px) {
        padding: 1.2rem 2.4rem;
        display: inline-block;
    }

    @media only screen and (min-width: 645px) {
        padding: 1.2rem 3.2rem;
        display: inline-block;
    }
}

@mixin h2headings {
    font-family: 'Montserrat', 'Segoe UI';
    color: $color-black-headings;
    font-size: 3.2rem;
    font-weight: 700;

    @media only screen and (min-width: 768px) {
        font-size: 3.6rem;
    }
}