$color-white-light: #fcfcfc;
$color-white-light-darker: #e9ecf1;
$color-black-dark: #303030;
$color-black-headings: #454545;

// $color-primary: #3675E5;
$color-primary: #1455c5;
$color-primary-lightest: #f6f7fa;
$color-blue-dark: #06369d;
$color-primary-darker: #0a41a1;
$color-primary-darkest: #041C47;
$color-secondary: rgb(240, 166, 48);
$color-standout: #6599fa;
